* {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;

}

ul {
        margin: 0;
        padding: 0;
}

.container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        border: green 1px solid;
}

header {
        background-color: #f4f4f4;
        padding-top: 30px;
        min-height: 70px;
        position: fixed;
        width: 100%;
}

header a {
        text-decoration: none;
        color: darkblue;
        font-weight: lighter;
}

header a:hover {
        color: lightblue;
}

header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
}

header #branding {
        float: left;
        border: red 1px solid;
}

header #branding img {
        height: 35px;
        width: 35px;
        padding-top: 5px;
}

header #branding h1 {
        margin: 0;
        display: inline;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: -10px;
}

header nav {
        float: right;
        margin-top: 15px;
}

#nav-bg {
        background-color: white;
        height: 100px;
        width: 100%;
        margin-top: -15px;
        position: fixed;
        text-align: center;
}

#parallax {
        /* This is how to make a parallax background */
        background: url("../img/background.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 800px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#parallax-overlay {

        /*For the transparent background I had to switch to a semi-transparent rgb background color to allow the text to be displayed correctly and not be transparent as well.*/
        /*background-color: dodgerblue;
        opacity: 0.5;*/
        height: 800px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        overflow: auto;

}

#parallax-text {
        /* padding-top: 310px;
        padding-left: 180px; */
        float: left;
        border: 1px red solid;
        padding-top: 350px;
        padding-left: 190px;
        overflow: auto;
        width: 60%;
        
}

#title-text p {
        color: White;
        font-weight: bolder;
        font-size: 40px;
}

#title-text span {
        font-weight: lighter;
        font-size: 40px;
}

#title-text {
        padding-bottom: 20px;
}

#title-para {
        color: white;
        font-weight: 700;
}

#practice-areas {
        background-color: white;
        height: 500px;
}

#practice-overlay {

        /*For the transparent background I had to switch to a semi-transparent rgb background color to allow the text to be displayed correctly and not be transparent as well.*/
        /*background-color: dodgerblue;
        opacity: 0.5;*/
        height: 800px;
        width: 40%;
        background: rgba(30, 144, 255, 0.1);
}


#practice-areas-text {
        padding-top: 100px;
        padding-left: 170px;
}

#practice-areas-text p {
        color: darkblue;
        font-size: 40px;
        font-weight: bolder;
}

#practice-areas-text span {
        font-weight: 400;
}

#practice-list {
        margin-left: 550px;
        margin-top: -735px;
}

#practice-list ul li {
        padding-bottom: 80px;
        width: 220px;
        color: darkblue;
}

#practice-list-2 {
        margin-left: 880px;
        margin-top: -456px;
}

#practice-list-2 ul li {
        padding-bottom: 80px;
        width: 220px;
        color: darkblue;
}

#blue-bg {
        background-color: #00305B;
        width: 100%;
        height: 600px;
}

#vision h2 {
        color: white;
        font-size: 40px;
        font-weight: 100;
        padding-top: 80px;
        padding-bottom: 100px;
        text-align: center;
}

#vision span {
        font-weight: 900;
}

#blue-bg-text-holder {
        width: 70%;
        margin: 0 auto;
}

#blue-bg-para {
        text-align: center;
}


#blue-bg-para p {
        color: white;
        padding-bottom: 40px;
}

#meeting-parallax-bg {
        /* This is how to make a parallax background */
        background: url("../img/meeting-opacity.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 800px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#attorneys-page {
        background-color: #EAF4F6;
        height: 800px;
}

#attorneys-holder {
        text-align: center;
        padding-top: 100px;
}

.align {
        display: inline-block;
        /* margin-left: 120px; */
        padding-left: 50px;
}

#attorneys-page h2 {
        padding-top: 110px;
        text-align: center;
        color: darkblue;
        font-size: 40px;
}

#thin-text {
        font-weight: 100;
}

.info-size {
        font-size: 20px;
}

.blue {
        color: #76A7D1;
        font-weight: 100;
}


#contact {
        /* This is how to make a parallax background */
        background: url("../img/building.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 640px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
}


#left {
        height: 640px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        float: left;
}

#contact-title {
        text-align: center;
        margin-top: 140px;
}


#contact-title h2 {
        color: white;
        font-size: 40px;
}

.light {
        font-weight: 300;
}

#right {
        height: 640px;
        width: 60%;
        background: rgba(106, 180, 255, 0.5);
        float: right;
        color: white;
        text-align: left;
}

#address-holder {
        margin-left: -80px;
        margin-top: 150px;
}


#address-holder h6 {
        font-size: 20px;
        padding-bottom: 30px;
}

#address-holder span {
        font-weight: 300;
}

#address-holder p {
        padding-bottom: 5px;
}

#address-holder a {
        color: lightblue;
        text-decoration: none;
}

#contact-form p {
        padding-bottom: 20px;
}

.input {
        width: 35%;
        height: 30px;
        margin-bottom: 10px;
}

#contact-form #message {
        width: 35%;
        height: 118px;
        float: right;
        margin-right: 235px;
        margin-top: -88px;
}

#contact-form #button {
        background-color: #41B7C4;
        color: white;
        font-size: 20px;
        font-weight: 100;
        width: 90px;
        height: 30px;
        float: right;
        margin-right: 235px;
        outline: none;
}

#back-to-top {
        height: 80px;
        background-color: #00305B;
        text-align: center;
        padding-top: 80px;
}

#back-to-top div {
        text-align: center;
}

#back-to-top img {
        transform: rotate(180deg);
        display: block;
        width: 30px;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
}

#back-to-top a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
}


/* This class animates certain elements when the page loads. */
.fadeIn {
        animation: fade 2s;
}

@keyframes fade {
        from {
                display: inline-block;
                opacity: 0;
        }

        to {
                opacity: 1;
        }
}

@media screen and (max-width: 850px) {
        /* body {
                display: none;
        } */
        #nav-holder {
        width: 80%;
        margin-top: -5px;
        margin-left: auto;
        margin-right: auto;
        }

        #logo-holder {
                margin-left: -650px;   
        }

        #text-holder {
                display: none;
        }
}



