* {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;

}

/* This class animates certain elements when the page loads. */
.fadeIn {
        animation: fade 2s;
}

@keyframes fade {
        from {
                display: inline-block;
                opacity: 0;
        }

        to {
                opacity: 1;
        }
}

ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

/* MOBILE MENU */
#menu-container {
        display: none;
}
/* THE END */

/* SIDE MENU */

/* THE END */

/* HEADER/ NAV SECTION */

header {
        background-color: white;
        padding-top: 30px;
        /* The header will have a minimum height of 70px. */
        min-height: 70px;
        position: fixed;
        width: 100%;
        /* I've used z-index on the header to make everything else scroll under it. */
        z-index: 50;
}

.container {
        width: 70%;
        margin: auto;
        overflow: hidden;
        border: green 1px solid;
}

header #branding {
        float: left;
        border: red 1px solid;
}

header #branding img {
        height: 35px;
        width: 35px;
        padding-top: 5px;
}

header #branding h1 {
        margin: 0;
        display: inline;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: -10px;
}

header a {
        text-decoration: none;
        color: darkblue;
        font-weight: lighter;
        font-size: 13px;
}

header a:hover {
        color: lightblue;
}

header li {
        float: left;
        padding: 0 20px 0 20px;
}

header nav {
        float: right;
        margin-top: 15px;
}

/* THE END */


/* MAIN SECTION */

#parallax-bg {
        /* This is how to make a parallax background */
        background: url("../img/background.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 800px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#parallax-overlay {
        height: 800px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        /* background-color: rgba(19, 62, 103, 0.671); */
        overflow: hidden;
}

#parallax-text {
        border: 1px red solid;
        overflow: hidden;
        padding-top: 350px;
        padding-right: 50px;
        pointer-events: none;
        text-align: left;
        float: right;
}

#parallax-text h2 {
        color: White;
        font-weight: bolder;
        font-size: 42px;
}

#parallax-text span {
        font-weight: lighter;
        font-size: 42px;
}

#parallax-text p {
        color: white;
        font-family: 'open sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding-top: 20px;
        text-align: left;
        /* margin-left: 50px; */
}

/* THE END */


/* PRACTICE AREAS SECTION */

#practice-areas {
        background-color:#EAF4F6;
        height: 500px;
}

#practice-overlay {
        height: 500px;
        width: 40%;
        float: left;
        background: rgba(30, 144, 255, 0.1);
}

#practice-areas-text {
        padding-top: 60px;
        padding-right: 110px;
        overflow: hidden;
        float: right;
        border: 1px red solid;
}

#practice-areas-text p {
        color: darkblue;
        font-size: 40px;
        font-weight: bolder;
}

#practice-areas-text span {
        font-weight: 400;
}

#list-section {
        float: right;
        height: 500px;
        width: 60%;
        background-color: #FFFFFF;
}

#list-container {
        margin-left: 40px;
        margin-top: 60px;
}

#practice-list {
        float: left;
        padding-right: 50px;
}


#practice-list ul li {
        padding-bottom: 80px;
        width: 220px;
        color: darkblue;
}

#practice-list-2 {
        float: left;
}

#practice-list-2 ul li {
        padding-bottom: 80px;
        width: 220px;
        color: darkblue;
}

/* THE END */

/* VISION SECTION */

#blue-bg {
        background-color: #00305B;
        width: 100%;
        height: 600px;
}

#vision h2 {
        color: white;
        font-size: 40px;
        font-weight: 100;
        padding-top: 80px;
        padding-bottom: 100px;
        text-align: center;
}

#vision span {
        font-weight: 900;
}

#blue-bg-para {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        border: 1px red solid;
}


#blue-bg-para p {
        color: white;
        padding-bottom: 40px;
}


/* THE END */


/* MEETING SECTION */

#meeting-parallax-bg {
        /* This is how to make a parallax background */
        background: url("../img/meeting-opacity.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 800px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* THE END */

/* ATTORNEYS SECTION */

#attorneys-page {
        background-color: #EAF4F6;
        height: 800px;
}

#attorneys-holder {
        text-align: center;
        padding-top: 100px;
}

.align {
        display: inline-block;
        /* margin-left: 120px; */
        padding-left: 50px;
}

#attorneys-page h2 {
        padding-top: 110px;
        text-align: center;
        color: darkblue;
        font-size: 40px;
}

#thin-text {
        font-weight: 100;
}

.info-size {
        font-size: 20px;
}

.blue {
        color: #76A7D1;
        font-weight: 100;
}

/* THE END */

/* CONTACT SECTION */

#contact {
        /* This is how to make a parallax background */
        background: url("../img/building.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 640px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
}


#left {
        height: 640px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        float: left;
}

#contact-title {
        text-align: center;
        margin-top: 140px;
        padding-right: 110px;
        float: right;
        overflow: hidden;
}


#contact-title h2 {
        color: white;
        font-size: 40px;
}

.light {
        font-weight: 300;
}

#right {
        height: 640px;
        width: 60%;
        background: rgba(106, 180, 255, 0.5);
        float: right;
        color: white;
        text-align: left;
        overflow: hidden;
}

#address-holder {
        margin-left: 40px;
        margin-top: 150px;
        float: left;
        border: 1px red solid;
}


#address-holder h6 {
        font-size: 20px;
        padding-bottom: 30px;
}

#address-holder span {
        font-weight: 300;
}

#address-holder p {
        padding-bottom: 5px;
}

#address-holder a {
        color: lightblue;
        text-decoration: none;
}

#contact-form {
        border: 1px red solid;
        overflow: hidden;
}

#contact-form p {
        padding-bottom: 20px;
}

#user-info {
        float: left;
        width: 35%;
        border: 1px red solid;
}

.input {
        width: 100%;
        height: 22px;
        margin-bottom: 5px;
}

#user-message {
        float: left;
        width: 40%;
        border: 1px red solid;
        overflow: hidden;
        padding-left: 5px;

}

#message {
        width: 100%;
        height: 92px;
}

#contact-form #button {
        background-color: #41B7C4;
        color: white;
        font-size: 20px;
        font-weight: 100;
        width: 90px;
        height: 30px;
        float: right;
        outline: none;
        /* buttons have a border by default and it can be remove by using border: 0 or none; */
        border: 0;
}


/* THE END */


/* FOOTER SECTION */

#back-to-top {
        height: 80px;
        background-color: #00305B;
        text-align: center;
        padding-top: 80px;
}

#back-to-top div {
        text-align: center;
}

#back-to-top img {
        transform: rotate(180deg);
        display: block;
        width: 30px;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
}

#back-to-top a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
}

/* THE END */




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

        /* HEADER/ NAV SECTION */

header {
        min-height: 50px;
}

.container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        padding-bottom: 20px;
        border: green 1px solid;
}

header #branding {
        float: none;
        width: 45%;
        margin: 0 auto;
}

header li {
        float: left;
        padding: 0 20px 0 20px;
}


/* THE END */


/* MAIN SECTION */

#parallax-bg {
        height: 600px;
}

#parallax-overlay {
        height: 600px;
}

#parallax-text {
        padding-top: 200px;
        padding-left: 30px;
}

#parallax-text h2, #parallax-text span {
        font-size: 35px;
}

#parallax-text p {
        font-size: 14px;
}

/* THE END */

/* PRACTICE AREAS SECTION */

#practice-areas, #practice-overlay {
        height: 400px;
}


#practice-areas-text {
        padding-top: 60px;
        padding-right: 20px;
}

#practice-areas-text p {
        font-size: 35px;
}

#list-section {
        height: 400px;
        width: 60%;
}

#list-section li {
        font-size: 12px;
}

#list-container {
        padding-top: 10px;
        margin-left: 5px;
        height: 400px;
}

#practice-list {
        /* border: 1px red solid; */
        width: 41%;
        overflow: hidden;
}


#practice-list ul li, #practice-list-2 ul li {
        padding-bottom: 30px;
}

#practice-list-2 {
        float: left;
        width: 41%;
        overflow: hidden;
        padding-left: 25px;
}

/* THE END */

/* VISION SECTION */

#blue-bg {
        height: 500px;
}

#vision h2 {
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 30px;
}

#blue-bg-para {
        width: 80%;
        overflow: hidden;
}

#blue-bg-para p {
        color: white;
        font-size: 15px;
}

/* THE END */

/* MEETING SECTION */

#meeting-parallax-bg {
        height: 600px;
}

/* THE END */

/* ATTORNEYS SECTION */

#attorneys-page {
        height: 660px;
}

#attorneys-holder {
        padding-top: 70px;
}

.align {
        padding-left: 20px;
}

#attorneys-page h2 {
        padding-top: 50px;
        font-size: 35px;
}

.info-size {
        font-size: 15px;
}

/* THE END */

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        
        /* MOBILE HEADER SECTION */

        header {
                /* min-height: 50px; */
                height: 80px;
                overflow: hidden;
        }

        header #branding {
                float: left;
                border: red 1px solid;
                width: 50%;
                margin-left: 25px;
                line-height: 20px;
                text-align-last: center;
        }
        
        header #branding img {
                height: 40px;
                width: 40px;
                padding-top: 10px;
                padding-left: 0px;
                position: relative;
                top: 13px;
        }
        
        header #branding h1 {
                margin: 0;
                display: inline;
                font-size: 18px;
                font-weight: 400;
                position: relative;
                top: -10px;
                left: 10px;
        }
        
        header a {
                text-decoration: none;
                color: darkblue;
                font-weight: lighter;
                font-size: 13px;
        }
        
        header a:hover {
                color: lightblue;
        }

        .container {
                width: 100%;
                border: none;
        }

        nav {
                display: none;
        }

        #menu-container {
                display: block;
                border: 1px #00305B solid;
                border-radius: 5px;
                width: 60px;
                height: 60px;
                cursor: pointer;
                /* margin-left: 100px;   */
                float: right;
                margin-right: 5px;
        }

        #burger-holder {
                width: 55%;
                margin: auto;
                padding-top: 10px;
        }

        .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #00305B;
                margin: 6px 0;
                transition: 0.4s;
        }

        .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
                opacity: 0;
        }

        .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
        }

            /* THE END */

            /* MAIN SECTION */

#parallax-bg {
        /* This is how to make a parallax background */
        background: url("../img/background.jpg");
        /*In order to get the img to appear I had to use the path above*/
        /* height: 465px; */
        min-height: 100%;
        min-width: 100%;
        background-size: contain;
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        border: 1px red solid;
}

#parallax-overlay {
        height: 465px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        /* background-color: rgba(19, 62, 103, 0.671); */
        overflow: hidden;
        display: none;
}

#parallax-text {
        border: 1px red solid;
        overflow: hidden;
        padding-top: 350px;
        padding-right: 50px;
        pointer-events: none;
        text-align: left;
        float: right;
}

#parallax-text h2 {
        color: White;
        font-weight: bolder;
        font-size: 42px;
}

#parallax-text span {
        font-weight: lighter;
        font-size: 42px;
}

#parallax-text p {
        color: white;
        font-family: 'open sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding-top: 20px;
        text-align: left;
        /* margin-left: 50px; */
}

/* THE END */
} 
