* {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;

}

ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

/* HEADER/ NAV SECTION */

header {
        background-color: white;
        padding-top: 30px;
        /* The header will have a minimum height of 70px. */
        min-height: 70px;
        position: fixed;
        width: 100%;
        /* I've used z-index on the header to make everything else scroll under it. */
        z-index: 50;
}

.container {
        width: 55%;
        margin: auto;
        overflow: hidden;
        border: green 1px solid;
}

header #branding {
        float: left;
        border: red 1px solid;
}

header #branding img {
        height: 35px;
        width: 35px;
        padding-top: 5px;
}

header #branding h1 {
        margin: 0;
        display: inline;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: -10px;
}

header a {
        text-decoration: none;
        color: darkblue;
        font-weight: lighter;
        font-size: 13px;
}

header a:hover {
        color: lightblue;
}

header li {
        float: left;
        padding: 0 20px 0 20px;
}

header nav {
        float: right;
        margin-top: 15px;
}

/* THE END */


/* MAIN SECTION */

#parallax-bg {
        /* This is how to make a parallax background */
        background: url("../img/background.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 800px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#parallax-overlay {
        height: 800px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        /* background-color: rgba(19, 62, 103, 0.671); */
        overflow: hidden;
}

#parallax-text {
        border: 1px red solid;
        overflow: hidden;
        padding-top: 350px;
        padding-right: 50px;
        pointer-events: none;
        text-align: left;
        float: right;
}

#parallax-text h2 {
        color: White;
        font-weight: bolder;
        font-size: 42px;
}

#parallax-text span {
        font-weight: lighter;
        font-size: 42px;
}

#parallax-text p {
        color: white;
        font-family: 'open sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding-top: 20px;
        text-align: left;
        /* margin-left: 50px; */
}

/* THE END */


/* PRACTICE AREAS SECTION */

#practice-areas {
        background-color:#EAF4F6;
        height: 500px;
}

#practice-overlay {
        height: 500px;
        width: 40%;
        float: left;
        background: rgba(30, 144, 255, 0.1);
}

#practice-areas-text {
        padding-top: 60px;
        padding-right: 110px;
        overflow: hidden;
        float: right;
        border: 1px red solid;
}

#practice-areas-text p {
        color: darkblue;
        font-size: 40px;
        font-weight: bolder;
}

#practice-areas-text span {
        font-weight: 400;
}

#list-section {
        float: right;
        height: 500px;
        width: 60%;
        background-color: #FFFFFF;
}

#list-container {
        margin-left: 40px;
        margin-top: 60px;
}

#practice-list {
        float: left;
        padding-right: 50px;
}


#practice-list ul li {
        padding-bottom: 80px;
        width: 220px;
        color: darkblue;
}

#practice-list-2 {
        float: left;
}

#practice-list-2 ul li {
        padding-bottom: 80px;
        width: 220px;
        color: darkblue;
}

/* THE END */

/* VISION SECTION */

#blue-bg {
        background-color: #00305B;
        width: 100%;
        height: 600px;
}

#vision h2 {
        color: white;
        font-size: 40px;
        font-weight: 100;
        padding-top: 80px;
        padding-bottom: 100px;
        text-align: center;
}

#vision span {
        font-weight: 900;
}

#blue-bg-para {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        border: 1px red solid;
}


#blue-bg-para p {
        color: white;
        padding-bottom: 40px;
}


/* THE END */


#meeting-parallax-bg {
        /* This is how to make a parallax background */
        background: url("../img/meeting-opacity.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 800px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#attorneys-page {
        background-color: #EAF4F6;
        height: 800px;
}

#attorneys-holder {
        text-align: center;
        padding-top: 100px;
}

.align {
        display: inline-block;
        /* margin-left: 120px; */
        padding-left: 50px;
}

#attorneys-page h2 {
        padding-top: 110px;
        text-align: center;
        color: darkblue;
        font-size: 40px;
}

#thin-text {
        font-weight: 100;
}

.info-size {
        font-size: 20px;
}

.blue {
        color: #76A7D1;
        font-weight: 100;
}


#contact {
        /* This is how to make a parallax background */
        background: url("../img/building.jpg");
        /*In order to get the img to appear I had to use the path above*/
        height: 640px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
}


#left {
        height: 640px;
        width: 40%;
        background: rgba(30, 144, 255, 0.5);
        float: left;
}

#contact-title {
        text-align: center;
        margin-top: 140px;
}


#contact-title h2 {
        color: white;
        font-size: 40px;
}

.light {
        font-weight: 300;
}

#right {
        height: 640px;
        width: 60%;
        background: rgba(106, 180, 255, 0.5);
        float: right;
        color: white;
        text-align: left;
}

#address-holder {
        margin-left: -80px;
        margin-top: 150px;
}


#address-holder h6 {
        font-size: 20px;
        padding-bottom: 30px;
}

#address-holder span {
        font-weight: 300;
}

#address-holder p {
        padding-bottom: 5px;
}

#address-holder a {
        color: lightblue;
        text-decoration: none;
}

#contact-form p {
        padding-bottom: 20px;
}

.input {
        width: 35%;
        height: 30px;
        margin-bottom: 10px;
}

#contact-form #message {
        width: 35%;
        height: 118px;
        float: right;
        margin-right: 235px;
        margin-top: -88px;
}

#contact-form #button {
        background-color: #41B7C4;
        color: white;
        font-size: 20px;
        font-weight: 100;
        width: 90px;
        height: 30px;
        float: right;
        margin-right: 235px;
        outline: none;
        /* buttons have a border by default and it can be remove by using border: 0 or none; */
        border: 0;
}

#back-to-top {
        height: 80px;
        background-color: #00305B;
        text-align: center;
        padding-top: 80px;
}

#back-to-top div {
        text-align: center;
}

#back-to-top img {
        transform: rotate(180deg);
        display: block;
        width: 30px;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
}

#back-to-top a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
}


/* This class animates certain elements when the page loads. */
.fadeIn {
        animation: fade 2s;
}

@keyframes fade {
        from {
                display: inline-block;
                opacity: 0;
        }

        to {
                opacity: 1;
        }
}


/* Mobile */
@media screen and (max-width: 768px) {
        /* header #branding, header nav {
                float: none;
                text-align: center;
                display: block;
        }   */

        /* #branding {
                float: none;
        } */

        header #branding {
                float: none;
                border: pink 1px solid;
                text-align: center;
        }

        header nav a {
                font-size: 7.10px;
        }
}